<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Cita</title>
</head>

<body>
  <header>
    <h1>Barbershop</h1>
  </header>
  <main>
    <nav>
      <button type="button">Volver</button>
      <button type="button">Agregar</button>
    </nav>
    <table>
      <thead>
        <tr>
          <th>Folio</th>
          <th>Fecha</th>
          <th>Usuario</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </main>
  <footer>
    <p>Todos los derechos reservados</p>
  </footer>
</body>

</html>
